body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./static/image-background-webp.webp); */
    background-image: url(./static/image-background-webp.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(2px);
}
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}
header {
    backdrop-filter: blur(8px);
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}
header nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-weight: bolder;
    cursor: pointer;
}
header nav ul li:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-skip-ink: auto;
    text-underline-offset: 4px;
}
header nav img {
    width: 110px;
}
.horizontal-line{
    background-color: black;
    height: 3px;
    transition: 0.8s;
}
/* SECTION  */
.card {
    width: 700px;
    height: 300px;
    margin: 200px auto;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.32);
}
.card:hover {
    background-color: rgba(0, 12, 16, 0.5);
}
.inside-card {
    padding: 0px 10px 0px 10px;
    text-align: center;
    margin: 90px auto;
}
.button {
    cursor: pointer;
    margin: 15px 20px;
    padding: 15px 52px;
    border-radius: 30px;
    border-width: 0px;
    display: inline-block;
    font-weight: bold;
}
.button:hover {
    background-color: rgba(3, 3, 3, 0.5);
    color: white;
}
.card-collections-in-flex {
    display: flex;
    justify-content: space-between;
    gap: 500px;
}
/* SECTION 2  */
#page1 {
    height: 100vh;
    margin: 80% auto;
    min-width: 300px;
    background-color: rgba(0, 12, 16, 0.5);
}
.section-2 {
    text-align: center;
    margin: 100px;
    padding-top: 150px;
    color: white;
    font-size: largee;
}
@media (max-width: 768px) {
.section-2 {
font-size: 14px; /* Adjust font size for smaller screens */
margin: 10% auto; /* Adjust margin for smaller screens */
}
}
/* SECTION 3  */
#page2 {
    height: 100vh;
}